.foods-container {
  display: flex;
  margin-top: 50px;
}
.foods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-left: 100px;
}
@media only screen and (max-width: 600px) {
  .foods {
    grid-template-columns: repeat(1, 1fr);
  }
}
